<!--Pagina per l'inserimento e creazione dei dati -->
<template>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-sm-6">
				<div v-if="!submitted">
					<form @submit.prevent="handleSubmit">
						<h4 align="center">Inserisci Elemento</h4>
						<div class="form-group">
							<label for="titolo">Titolo</label>
							<input type="text" placeholder="Inserire un titolo" v-model="datamodel.titolo" id="titolo" name="titolo" class="form-control" :class="{ 'is-invalid': submitted && $v.datamodel.titolo.$error }" />
						</div>
						<div class="form-group">
							<label for="descrizione">Descrizione</label>
							<textarea type="text" class="form-control" id="descrizione" rows="3" placeholder="Inserire una Descrizione" v-model="datamodel.descrizione"  name="descrizione" :class="{ 'is-invalid': submitted && $v.datamodel.descrizione.$error }"></textarea>
						</div>
						<div>
							<button @click="metodoSalva" class="btn btn-outline-primary" >Salva</button>
						</div>
					</form>
				</div>
				<div v-else>
					<h4>Inviato con successo!</h4>
					<button class="btn btn-success" @click="nuovoItem">aggiungi</button>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>
</template>

<script>
import FormService from "../services/FormService";
import { required} from "vuelidate/lib/validators";
export default {
	name: "aggiungi-datamodel",
	data() {
		return {
			datamodel: {
				id: null,
				titolo: "",
				descrizione: "",
				published: false
			},
			submitted: false
		};
	},
	validations: {
		datamodel: {
			titolo: { required },
			descrizione: { required },
		}
	},
	methods: {
		//Mi salva i parametri inseriti nel form
		metodoSalva() {
			
			if(!this.datamodel.titolo || !this.datamodel.descrizione){
				this.submitted = false;
				
				} else {
				//Parametri web services
				var data = {
					title: this.datamodel.titolo,
					body: this.datamodel.descrizione
				};
				
			//creazione	
				FormService.create(data)
				.then(response => {
					//Incremento elementi in localStorage...
					this.datamodel = response.data;
					var newDatas = JSON.parse(localStorage.getItem('datas')) || [];
					this.datamodel.id = newDatas.length + 101;
					FormService.aggiornaLocalStorage(this.datamodel);
					//this.submitted = true;
				})
				.catch(e => {
					console.log(e);
				});
			}
    },
    //Gestione dello svuotamento del localstorage
		svuotaLocalStorage(){
			localStorage.setItem("datas", JSON.stringify([]));
			localStorage.setItem("LISTA_ORIGINALE", JSON.stringify([]));
			console.log("Local Storage Svuotato");
		},
		nuovoItem() {
			//Creazione di un oggetto vuoto
			this.submitted = false;
			this.datamodel = {};
		},
		handleSubmit() {
			this.submitted = true;
			
			// stoppa qui se il formulario è invalido
			if(!this.datamodel.titolo || !this.datamodel.descrizione){
				this.submitted = false;
			}
		}
	}
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
