<template>
	<div v-if="elementoCorrente" class="edit-form">
		<h4>Modifica</h4>
		<form>
			<div class="form-group">
				<label for="titolo">Titolo</label>
				<input type="text" class="form-control" id="titolo"
				v-model="elementoCorrente.title"
				/>
			</div>
			<div class="form-group">
				<label for="descrizione">Descrizione</label>
				<input type="text" class="form-control" id="descrizione"
				v-model="elementoCorrente.body"
				/>
			</div>
		</form>
		<button class="m-3 btn btn-outline-light text-dark btn-sm" @click="annullaEsc" > Annulla</button>
		<button type="submit" class="m-3 btn btn-outline-success btn-sm" @click="updateElemento">Aggiorna</button>
		<p>{{ message }}</p>		
	</div>
	
	<div v-else>
		<br />
		<p>Clicca su un Elemento per vedere i dettagli..</p>
	</div>
</template>

<script>
import FormService from "../services/FormService";
export default {
	name: "elemento",
	data() {
		return {
			elementoCorrente: null,
			message: ''
		};
	},
	methods: {
		getElemento(id) {
			
			this.elementoCorrente = FormService.get(id);
			console.log(this.elementoCorrente);
		},
		
		//metodo per aggiornare l'elemento.
		updateElemento() {
			if (confirm("Conferma modifica?")) {
				FormService.updateInLocalStorage(this.elementoCorrente.id, this.elementoCorrente);
				alert(this.message = 'Elemento modificato corretamente!');
				this.$router.push({ name: "lista" });
				}else {
				this.message = 'modifica elemento annulato!';
			}        
		},
    
    //ridirect
		annullaEsc() {
		this.$router.push({ name: "lista" });
		}
	},
	mounted() {
		this.message = '';
		this.getElemento(this.$route.params.id);
	}
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
