<!--template per la visualizzazione lista elementi-->
<template>
	<div class="list row">
		<div class="col-md-8">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Cerca con titolo"
				v-model="titolo" @keyup="searchTitolo"/>
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="button"
					@click="searchTitolo"
					>
						Cerca
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-6">  
			<h4>Lista Elementi</h4>
			<ul class="list-group">
				<li class="list-group-item" :class="{ active: index == indiceCorrente }" v-for="(elemento, index) in lista" :key="index" @click="setActiveElemento(elemento, index)"> {{ elemento.title }}
				</li>
			</ul>
			<button class="m-3 btn btn-outline-danger btn-sm" @click="removeElementoAll">
				Cancella tutto
			</button>
		</div>
		<div class="col-md-6">
			<div v-if="elementoCorrente">
				<h4>Elemento</h4>
				<div>
					<label><strong>Titolo:</strong></label> {{ elementoCorrente.title }}
				</div>
				<div>
					<label><strong>Descrizione:</strong></label> {{ elementoCorrente.body }}
				</div>    
				<div>
					<button class="m-3 btn btn-outline-warning btn-sm" ><a class="badge badge-warning" :href="'/dettaglio/' + elementoCorrente.id">
						Modifica
					</a></button>
					<button class="m-3 btn btn-outline-danger btn-sm" @click="removeElemento">
						Elimina 
					</button>
				</div>
				
			</div>
			<div v-else>
				<br />
				<p>Clicca su un Elemento per vedere i dettagli..</p>
			</div>
		</div>
	</div>
</template>

<script>
import FormService from "../services/FormService";
export default {
	name: "lista",
	data() {
		return {
			lista: [],
			elementoCorrente: null,
			indiceCorrente: -1,
			titolo: ""
		};
	},
	methods: {
		
		retrievelista() {
			FormService.getAll()
			.then(response => {
				this.lista = response.data;
				console.log(this.lista);
				FormService.aggiornaLocalStorage(this.lista, "LISTA_ORIGINALE");
				this.lista = JSON.parse(localStorage.getItem('datas'));
				
			})
			.catch(e => {
				console.log(e);
			});
		},
		
		//Resfresh della lista
		refreshList() {
			this.retrievelista();
			this.elementoCorrente = null;
			this.indiceCorrente = -1;
		},
		
		setActiveElemento(elemento, index) {
			this.elementoCorrente = elemento;
			this.indiceCorrente = index;
		},
		
		//metodo per la cancellazione di un elemento alla volta
		removeElemento() {
			console.log("Elemento da Cancellare")
			console.log(this.elementoCorrente)
			FormService.deleteItem(this.elementoCorrente.id);
			this.lista = [];
			this.elementoCorrente = null;
			this.retrievelista();
		},
		
		/*metodo per la cancellazione di tutti gli elementi, 
			come si vede è definito nel FormService nel metodo 
		CleanAllElement ed uso lo stesso metodo per svuotare il localstorage. */
		removeElementoAll(){
			FormService.cleanAllElement();
			this.retrievelista();
		},
		
		//La ricerta di un elemento per il titolo, ben defini dal metodo ricercaByTitolo che sta nel FormService
		searchTitolo() {
			this.lista = FormService.ricercaByTitolo(this.titolo);
		}
	},
	mounted() {
		this.retrievelista();
	}
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
