<template>
	<div id="app">
		<nav class="navbar navbar-expand navbar navbar-light" style="background-color: #e3f2fd;">
			<a href="/aggiungi" class="navbar-brand">CHRISTIAN LENAIC</a>
			<div class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="/aggiungi" class="nav-link">Aggiungi</a>
				</li>
				<li class="nav-item">
					<a href="/lista" class="nav-link">Lista</a>
				</li>
			</div>
			<button  class="btn btn-sm btn-outline-secondary" @click="svuotaLocalStorage" type="button">Svuota LocalStorage</button>
		</nav>
		<div class="container mt-3">
			<router-view />
		</div>
	</div>
</template>

<script>
import FormService from "./services/FormService";
export default {
	name: "app",
	data() {
		return {
		};
	},
	methods: { 
		//Metodo per svuotare il contenuto del localstorage,gestita nel metodo cleanAllElement che sta nel FormService
		svuotaLocalStorage(){
			FormService.cleanAllElement();
			console.log("Local Storage Svuotato");
		}   
	}
};
</script>
